body {
  width: 1100px;
  height: 600px;
  margin: 200px auto;
}

#battlefield {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.hitBox {
  border: solid 1px grey;
  width: 20px;
  height: 20px;
}

#playerBoard {
  display: grid;
  grid-template-columns: repeat(10, 22px);
  gap: 4px;
}

#advBoard {
  display: grid;
  grid-template-columns: repeat(10, 22px);
  gap: 4px;
}

#otherplayer {
  visibility: hidden;
}

#currentShip {
  transition: all 3s ease-in-out;
}

.selectedA0,
.selectedA1,
.selectedA2,
.selectedA3,
.selectedA4 {
  background-color: #283e45;
}

.selectedB {
  background-color: #507d8b;
}

.selectedbyB {
  background-color: #507d8b;
}

.hit {
  background-color: #8b5e50;
}

#squarePlaced,
#squareMiss,
#squareHit {
  width: 20px;
  height: 20px;
  border: solid 1px grey;
}

#squarePlaced {
  background-color: #283e45;
}

#squareMiss {
  background-color: #507d8b;
}

#squareHit {
  background-color: #8b5e50;
}

.labels {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.labelsout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

#topnumberJ,
#topnumberJAdv {
  display: grid;
  grid-template-columns: repeat(11, 22px);
  gap: 4px;
}

#topnumberJ div,
#topnumberJAdv div {
  width: 20px;
  height: 20px;
  text-align: center;
}

#divoutside,
#divoutsideAdv {
  display: flex;
  flex-direction: row;
}

#numberI,
#numberIAdv {
  display: grid;
  grid-template-rows: repeat(10, 22px);
  gap: 4px;
  margin-right: 4px;
}

#numberI div,
#numberIAdv div {
  width: 20px;
  height: 20px;
  text-align: center;
}

.opponentmove {
  color: grey;
}

.movecounter {
  color: lightgrey;
  font-weight: normal;
}

#fleets {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 400px;
  margin: auto;
  visibility: hidden;
}

#fleets div {
  width: 200px;
  text-align: center;
}

.sunk {
  text-decoration: line-through;
}
